############################
# Lake & Lean build output #
############################

.lake/
_lake/
*.ilean
*.c
*.trace

##################
# Build artefacts #
##################

# Lokale analyse-output, maar NIET die in dist/
axioms.out

################
# OS / editor  #
################

.DS_Store
*.swp

###############
# Keys / secrets
###############

paper
paper.pub

# Reproducible public release output
dist/
